name: Stock Price Alert

on:
  workflow_dispatch:        # 手動実行用
  schedule:
    - cron: '1 0 * * 1-5'     # 平日9時1分（UTC）
    - cron: '5 0 * * 1-5'     # 平日9時5分（UTC）
    - cron: '15 0 * * 1-5'    # 平日9時15分(UTC）

jobs:
  run-stock-script:
    runs-on: ubuntu-latest

    steps:
      # ① リポジトリのコードを取得
      - name: Checkout repository
        uses: actions/checkout@v4

      # ② Python をセットアップ
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      # ③ 必要なライブラリをインストール
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      # ④ Python を実行（← ここが最重要）
      - name: Run stock script
        env:
            ALPHAVANTAGE_API_KEY: ${{ secrets.ALPHAVANTAGE_API_KEY }}
            MAIL_HOST: ${{ secrets.MAIL_HOST }}
            MAIL_PORT: ${{ secrets.MAIL_PORT }}
            MAIL_USER: ${{ secrets.MAIL_USER }}
            MAIL_PASS: ${{ secrets.MAIL_PASS }}
            MAIL_TO: ${{ secrets.MAIL_TO }}
        run: |
          python main.py
